body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-weight: 500;
}
h3{
  font-weight: 600;
}

/*FLAGS*/
.en{
  background: url('./img/en.png');
  background-size: cover;
  background-repeat: no-repeat;

}
.es{
  background: url('./img/es.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.ru{
  background: url('./img/ru.png');
  background-size: cover;
  background-repeat: no-repeat;

}
.fr{
  background: url('./img/fr.png');
  background-size: cover;
  background-repeat: no-repeat;

}
.pr{
  background: url('./img/pr.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/*WELCOME*/
.welcome{
  background: url('../src/img/bg5.jpg');
  background-attachment: fixed;
  padding: 3em;
  color: white;
  height: 100vh;
}
.welcome h3{
  margin: 0;
}
.welcome img{
  margin-top: 8%;
  margin-left: 25%;
  box-shadow: 0px 0px 20px black;
}

/*ABOUT US*/
.row {
  margin-bottom: 0px !important;
}
.row .col{
  padding: 0;
}

/*MISSION*/

.mission{
  background: #f5f5f5;
  width: 100%;
  color: black;
  margin: 0 auto;
  padding: 0.1em;
  max-height: 800px;
}
.card{
  min-height: 380px;
  background:#222222;
  background-position: center 0;
  padding: 4em 2em;
  opacity: 0.8;
  transition: 300ms all;
  margin-bottom: 0px;
}
.card:hover{
  opacity: 1;
}
.card-1{
  background: /* url('../src/img/port1.jpg') */ #222222;
}

.card-2{
  background: /* url('../src/img/port2.jpg') */ #222222;
}
.card-3{
  background: /* url('../src/img/port3.jpg') */ #222222;
}
.card-4{
  background: /* url('../src/img/port4.jpg') */ #222222;
}

/*PRODUCTS*/
.product-image{
  opacity: 0.8;
}
.product-image:hover{
  cursor: pointer;
  opacity: 1;
}


/*MARKET*/

/*CONTACT*/
